parameters:
    level: max
    paths:
        - src
        - tests

    checkGenericClassInNonGenericObjectType: true
    reportUnmatchedIgnoredErrors: false
    bootstrapFiles:
        - phpstan-bootstrap.php
