includes:
    - vendor/phpstan/phpstan-symfony/extension.neon

parameters:
    level: max
    paths:
        - src
        - tests

    checkGenericClassInNonGenericObjectType: true
    reportUnmatchedIgnoredErrors: false
    bootstrapFiles:
        - phpstan-bootstrap.php

    symfony:
        container_xml_path: null

    ignoreErrors:
        -
            path: src/DependencyInjection/Configuration.php
            message: '#Symfony\\Component\\Config\\Definition\\Builder\\#'
